.skills-section {
    text-align: center;
    margin-top: 50px;
}

.skills-section h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 100;
}

.skills-section h2::after {
    content: '';
    display: block;
    width: 300px;
    height: 0.5px;
    margin: 15px auto;
}

.skill-box {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

.skill-box i {
    font-size: 64px;
}

.skill-name {
    margin-top: 10px;
    font-size: 16px;
    color: #666;
}